.titles {
  font-size: 24px;
  font-weight: 300;
  color: #f92525;
  line-height: 28px;
}
.titles-2 {
  font-size: 24px;
  line-height: 28px;
  color: #202124;
}
.sub_titles {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  color: #000000;
}
.sub_titles-link {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  color: #000000;
}
.sub_titles-lite {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  color: #000000;
}
.plain-text {
  font-size: 13px;
  line-height: 22px;
  color: #000000;
}
.plain-text-red {
  font-size: 13px;
  line-height: 22px;
  color: #ff0000;
}
.dates {
  font-size: 14px;
  line-height: 24px;
  color: #9b9b9b;
}
.link {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}
.slika {
  max-width: 100%;
  padding-top: 25px;
}
.akcije {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 4% 90px;
}
.akcije--left {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: auto;
}
.akcije--left--suzi {
  width: 80%;
  padding: 25px 0;
  border-bottom: 1px solid #000000;
}
.akcije--left--naslov {
  width: 90%;
  padding: 30px 0;
  font-weight: bold;
  border-bottom: 1px solid #d0d0d0;
}
.akcije--left--naslov:last-child {
  border-bottom: none;
}
.akcije--right {
  width: 67%;
  padding-left: 3%;
  border-left: 1px solid #979797;
}
.akcije--right--slika {
  max-height: 450px;
}
.akcije--right--naslov {
  color: #f92525;
}
.akcije--right--text {
  margin-top: 3%;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.69;
  color: #000000;
}
.akcije--right--text * {
  font-size: initial !important;
}
.clicked {
  color: #f92525 !important;
}
@media only screen and (max-width: 1024px) {
  .akcije {
    padding: 4% 60px;
  }
}
@media only screen and (max-width: 960px) {
  .akcije {
    padding: 4% 50px;
  }
}
