.background-white {
  background-color: #ffffff;
}
.background-grey {
  background-color: #aeaeae;
}
.background-orange {
  background-color: #fbb216;
}
.background-blue {
  background-color: #1eacc7;
}
.background-dark {
  background-color: #111111;
}
.border-white {
  border: 1px solid #ffffff;
}
.border-orange {
  border: 1px solid #fbb216;
}
