@import 'variables';

.background {
    &-white {
        background-color: @white;
    }
    &-grey {
        background-color: @grey;
    }
    &-orange {
        background-color: @orange;
    }
    &-blue {
        background-color: @blue;
    }
    &-dark {
        background-color: @grey-dark;
    }
}

.border {
    &-white {
        border: 1px solid @white;
    }
    &-orange {
        border: 1px solid @orange;
    }
    &-blue {
        border: 1px solid @blue;
    }
}