@import "variables";

.clanovi {
  // min-height: calc(~"100vh - 100px - 65px");
  -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4% 90px;
  &--left{
    width: 30%;
  }
  &--right{
    width: 70%;
    border-left: 1px solid @gray-light;
    padding-left: 5%;
  }
  &--opis {
    // min-height: 50%;
    &-paragraf {
      margin-bottom: 20px;
      text-align: justify;
    }
  }
  &--pridruzi {
    width: 100%;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    // border-bottom: 1px solid @black;
    &-button {
      height: 40px;
      width: 140px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background-color: @red;
      border-radius: 3px;
      font-size: 14px;
      font-weight: 500;
      line-height: 14px;
      color: @white;
    }
  }
  &--spisak {
    // min-height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    &-tip {
      width: 25%;
      &--naslov {
        height: 70px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 1px 0px;
        margin-bottom: 30px;
        font-size: 18px;
        border-bottom: 1px solid @gray-light;
      }
      &--red {
        font-size: 18px;
        padding: 15px 0px;
        a {
          font-size: inherit;
        }
      }

    }
    &-telo {
      width: 75%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      &--header {
        min-height: 70px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 1px 0px;
        margin-bottom: 30px;
        border-bottom: 1px solid @gray-light;
        &-naslov {
          width: 50%;
          height: 70px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          font-size: 18px;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
        }
      }
      &--red {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 10px 0px;
        &-naslov {
          width: 50%;
          height: 120px;
        }
        &-osoba {
          width: 50%;
          font-size: 13px;
          line-height: 24px;
          color: @black;
        }
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  .clanovi {
    padding: 4% 60px;
  }
}
@media only screen and (max-width: 960px) {
  .clanovi {
    padding: 4% 50px;
    &--spisak{
      flex-direction: column;
      &-tip{
        width: 100%;
        &--red{
          font-size: 14px;
        }
        &--naslov{
          margin-bottom: 20px;
        }
        .mobile{
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
        }
      }
      &-telo{
        width: 100%;
        &--header{
          border-top: 1px solid @gray-light;
          margin-top: 20px;
        }
        &--red{
          &-osoba{
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 360px) {
  .clanovi{
    padding: 4% 20px;
    &--spisak{
      &-telo{
        &--red{
          flex-direction: column;
          &-osoba{
            width: 100%;
            font-size: 13px;
          }
        }
        &--header{
          flex-direction: column;
          min-height: 60px;
          &-naslov{
            height: 30px;
          }
        }
      }
      &-tip{
        .mobile{
          justify-content: flex-start;
        }
        &--red{
          width: 90px;
        }
      }
    }
  }
}
