.flex {
		display: flex;
		&-imp {
			display: flex !important;
		}
    &-column {
        flex-direction: column;
    }
    &-wrap {
        flex-wrap: wrap;
    }
    &-1 {
        flex: 1;
    }
}
.al-it {
    &-center {
        align-items: center;
    }
}
.ju-co {
    &-center {
        justify-content: center;
    }
    &-between {
        justify-content: space-between;
    }
    &-around {
        justify-content: space-around;
    }
}
@media screen and (max-width: 1180px) {
	.flex-1180 {
			&-column {
					flex-direction: column;
					&-rev {
						flex-direction: column-reverse;
					}
			}
	}
}

@media screen and (max-width: 1024px) {
    .ju-co-1024 {
        &-start {
            justify-content: flex-start;
        }
    }
}

@media screen and (max-width: 799px) {
	.display-799 {
		&-none {
			display: none;
		}
	}
	.al-it-799-center {
		align-items: center;
	}
}