.flex {
		display: -webkit-box;
		display: flex;
		&-imp {
			display: -webkit-box !important;
			display: flex !important;
		}
    &-column {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
    }
    &-wrap {
        flex-wrap: wrap;
    }
    &-1 {
        -webkit-box-flex: 1;
                flex: 1;
    }
}
.al-it {
    &-center {
        -webkit-box-align: center;
                align-items: center;
    }
}
.ju-co {
    &-center {
        -webkit-box-pack: center;
                justify-content: center;
    }
    &-between {
        -webkit-box-pack: justify;
                justify-content: space-between;
    }
    &-around {
        justify-content: space-around;
    }
}
.display-none {
	display: none;
}
@media screen and (max-width: 1180px) {
	.flex-1180 {
			&-column {
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					        flex-direction: column;
					&-rev {
						-webkit-box-orient: vertical;
						-webkit-box-direction: reverse;
						        flex-direction: column-reverse;
					}
			}
	}
}

@media screen and (max-width: 1024px) {
    .ju-co-1024 {
        &-start {
            -webkit-box-pack: start;
                    justify-content: flex-start;
        }
    }
}

@media screen and (max-width: 799px) {
	.display-799 {
		&-none {
			display: none;
		}
		&-flex {
			display: -webkit-box;
			display: flex;
			&-column {
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				        flex-direction: column;
			}
		}
	}
	.al-it-799-center {
		-webkit-box-align: center;
		        align-items: center;
	}
}

@media screen and (max-width: 560px) {
	.display-560 {
		&-flex {
			display: -webkit-box;
			display: flex;
			&-column {
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				        flex-direction: column;
			}
		}
	}
}