.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.al-it-center {
  align-items: center;
}
.ju-co-center {
  justify-content: center;
}
.ju-co-between {
  justify-content: space-between;
}
