.flex {
  display: flex;
}
.flex-imp {
  display: flex !important;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-1 {
  flex: 1;
}
.al-it-center {
  align-items: center;
}
.ju-co-center {
  justify-content: center;
}
.ju-co-between {
  justify-content: space-between;
}
.ju-co-around {
  justify-content: space-around;
}
.display-none {
  display: none;
}
@media screen and (max-width: 1180px) {
  .flex-1180-column {
    flex-direction: column;
  }
  .flex-1180-column-rev {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 1024px) {
  .ju-co-1024-start {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 799px) {
  .display-799-none {
    display: none;
  }
  .al-it-799-center {
    align-items: center;
  }
}
