@import 'variables';
.home{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 4% 90px 0;
    &--part{
        max-height: 550px;
        height: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
                border-bottom: 1px solid @black;
        &-istaknuta-akcija{
            width: 66%;
            padding-bottom: 20px;
            .title{
                font-size: 18px;
                font-weight: bold;
                color: @gray-dark;
                padding: 20px 0;
            }
            .text{
                font-size: 14px;
                line-height: 1.71;
                color: @black;
                height: 90px;
                overflow: hidden;
            }
        }
        &-2{
           width: 30%;
           display: -webkit-box;
           display: -ms-flexbox;
           display: flex;
           -webkit-box-orient: vertical;
           -webkit-box-direction: normal;
               -ms-flex-direction: column;
                   flex-direction: column;
            padding-bottom: 20px;
           .suzi-akcije{
            font-size: 24px;
            color: @red;
            margin-bottom: 10px;
           }
           .overflow{
               overflow: auto;
            //    -webkit-box-flex: 1;
            //        -ms-flex: 1;
            //            flex: 1;
                &-border{
                    border-bottom: 1px solid @gray-light;
                    padding: 15px 0;
                }
           }
           .naslov{
            font-size: 14px;
            font-weight: bold;
            line-height: 1.71;
            color: @black;
            
            margin-right: 10px;

            // &:last-child{
            //     border-bottom: none;
            // }
           }
        }


    }
    &--part2{
        max-height: 550px;
        height: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        border-bottom: 1px solid @black;
        &:last-child{
            border-bottom: none;
        }
        &--vesti{
            width: 33%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            // -webkit-box-pack: justify;
            //     -ms-flex-pack: justify;
            //         justify-content: space-between;
            margin: 30px 0 30px;
            &--title{
                width: 80%;
                padding-bottom: 20px;
                border-bottom: 1px solid @black;
            }
            &--naslovi{
                width: 80%;
                overflow: auto;
                // -webkit-box-flex: 1;
                //     -ms-flex: 1;
                //         flex: 1;
                &-1{
                    border-bottom: 1px solid @gray-light;
                    padding: 15px 0;
                }
            }
        }
    }
}
.more{
    font-size: 14px;
    line-height: 1.71;
    font-weight: bold;
    color: @red;
    padding: 20px 0;
    text-decoration: none;
    cursor: pointer;
  }
@media only screen and (max-width: 1024px) {
  .home {
    padding: 4% 60px 0;
    &--part2 {
      &--vesti {
        &--title {
          width: 85%;
        }
        &--naslovi {
          width: 85%;
        }
      }
    }
  }
}
@media only screen and (max-width: 960px) {
  .home {
    padding: 4% 50px 0;
    &--part2 {
      &--vesti {
        &--title {
          width: 85%;
        }
        &--naslovi {
          width: 85%;
        }
      }
    }
  }
}
