@import 'variables.less';
.home{
    display: flex;
    flex-direction: column;
    padding: 60px 90px;
    &--part{
        // padding: 60px 0;
        height: 600px;
        display: flex;
        justify-content: space-between;
        &-istaknuta-akcija{
            width: 66%;
            border-bottom: 2px solid @gray-light;
            .title{
                font-size: 18px;
                font-weight: bold;
                color: @gray-dark;
                padding: 20px 0;
            }
            .text{
                font-size: 14px;
                line-height: 1.71;
                color: @black;
                height: 90px;
                overflow: hidden;
            }
            .more{
              font-size: 14px;
              line-height: 1.71;
              font-weight: bold;
              color: @red;
              padding: 20px 0;  
            }
        }
        &-2{
           width: 30%; 
           border-bottom: 2px solid @gray-light;
           display: flex;
           flex-direction: column;
           .suzi-akcije{
            font-size: 24px;
            color: @red;
           }
           .overflow{
               overflow: auto;
               flex: 1;
           }
           .naslov{
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 1.71;
            color: @black;
            padding: 40px 0;
            margin-right: 10px;
            border-bottom: 2px solid @gray-light;
           
            &:last-child{
                border-bottom: none;
            }
           }
        }
        &--vesti{
            width: 33%;
            align-items: center;
            margin: 60px 0;
            &--title{
                width: 80%;
                font-size: 24px;
                font-weight: 300;
                color: @red;
                padding-bottom: 20px;
                border-bottom: 1px solid @black;
            }
            &--naslovi{
                width: 80%;
                .naslov{
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 1.71;
                    color: @black;
                    border-bottom: 2px solid @gray-light;
                    padding: 20px 0;
                    &:last-child{
                        border-bottom: none;
            }
                }
            }
        }
        
    }
}