.titles {
  font-size: 24px;
  font-weight: 300;
  color: #f92525;
  line-height: 28px;
}
.titles-2 {
  font-size: 24px;
  line-height: 28px;
  color: #202124;
}
.sub_titles {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  color: #000000;
}
.sub_titles-link {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  color: #000000;
}
.sub_titles-lite {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  color: #000000;
}
.plain-text {
  font-size: 13px;
  line-height: 22px;
  color: #000000;
}
.plain-text-red {
  font-size: 13px;
  line-height: 22px;
  color: #ff0000;
}
.dates {
  font-size: 14px;
  line-height: 24px;
  color: #9b9b9b;
}
.link {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}
.slika {
  max-width: 100%;
  padding-top: 25px;
}
.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 4% 90px 0;
}
.home--part {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.home--part-istaknuta-akcija {
  width: 66%;
  border-bottom: 1px solid #d0d0d0;
}
.home--part-istaknuta-akcija .title {
  font-size: 18px;
  font-weight: bold;
  color: #202124;
  padding: 20px 0;
}
.home--part-istaknuta-akcija .text {
  font-size: 14px;
  line-height: 1.71;
  color: #000000;
  height: 90px;
  overflow: hidden;
}
.home--part-2 {
  width: 30%;
  border-bottom: 1px solid #d0d0d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.home--part-2 .suzi-akcije {
  font-size: 24px;
  color: #f92525;
}
.home--part-2 .overflow {
  overflow: auto;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.home--part-2 .naslov {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.71;
  color: #000000;
  padding: 40px 0;
  margin-right: 10px;
  border-bottom: 1px solid #d0d0d0;
}
.home--part-2 .naslov:last-child {
  border-bottom: none;
}
.home--part2 {
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
}
.home--part2:last-child {
  border-bottom: none;
}
.home--part2--vesti {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 60px 0 30px;
}
.home--part2--vesti--title {
  width: 80%;
  padding-bottom: 20px;
  border-bottom: 1px solid #000000;
}
.home--part2--vesti--naslovi {
  width: 80%;
  overflow: auto;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.home--part2--vesti--naslovi-1 {
  border-bottom: 1px solid #d0d0d0;
  padding: 25px 0;
}
.more {
  font-size: 14px;
  line-height: 1.71;
  font-weight: bold;
  color: #f92525;
  padding: 20px 0;
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (max-width: 1024px) {
  .home {
    padding: 4% 60px 0;
  }
  .home--part2--vesti--title {
    width: 85%;
  }
  .home--part2--vesti--naslovi {
    width: 85%;
  }
}
@media only screen and (max-width: 960px) {
  .home {
    padding: 4% 50px 0;
  }
  .home--part2--vesti--title {
    width: 85%;
  }
  .home--part2--vesti--naslovi {
    width: 85%;
  }
}
