.titles {
  font-size: 24px;
  font-weight: 300;
  color: #f92525;
  line-height: 28px;
}
.titles-2 {
  font-size: 24px;
  line-height: 28px;
  color: #202124;
}
.sub_titles {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  color: #000000;
}
.sub_titles-link {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  color: #000000;
}
.sub_titles a {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  color: #000000;
}
.plain-text {
  font-size: 13px;
  line-height: 22px;
  color: #000000;
}
.plain-text-red {
  font-size: 13px;
  line-height: 22px;
  color: #ff0000;
}
.dates {
  font-size: 14px;
  line-height: 24px;
  color: #9b9b9b;
}
.link {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}
.slika {
  max-width: 100%;
  padding-top: 25px;
}
.komisije {
  display: flex;
  flex: 1;
  padding: 4% 90px;
}
.komisije--left {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.komisije--left--naslov {
  font-size: 18px;
  font-weight: 300;
  color: #000000;
  padding: 10px 0;
}
.komisije--right {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  border-left: 1px solid #979797;
}
.komisije--right--naziv {
  font-size: 18px;
  font-weight: bold;
  color: #f92525;
  padding-bottom: 5%;
}
.komisije--right--deo {
  display: flex;
  flex-direction: column;
  padding-bottom: 4%;
}
.komisije--right--deo-title {
  font-size: 24px;
  font-weight: 300;
  color: #f92525;
  padding-bottom: 2%;
}
.komisije--right--deo-text {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.83;
  color: #000000;
}
.komisije--right--deo-table {
  display: flex;
}
.clicked {
  color: #f92525 !important;
  font-weight: bold;
}
