@import 'variables';

.oNama{
    // height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 4% 90px;
    &--1{
        border-bottom: 1px solid @black;
        &--text{
            width: 80%;
            font-size: 13px;
            font-weight: normal;
            color: @black;
            line-height: 1.85;
            padding-bottom: 90px;
        }
    }
    &--2{
        display: flex;
        flex-direction: column;
        padding: 90px 0;
        &--blok{
            display: flex;
            padding: 20px 0;
            width: 25%;
            justify-content: space-between;
            align-items: center;
            &-naslov{
                color: @black;
                font-size: 14px;
                font-weight: normal;
            }
            &-pdf{
                display: flex;
                align-items: center;
                font-size: 9px;
                font-weight: bold;
                color: @black;
            }
        }
    }
}