.h {
    height: 100%
}
.w {
    height: 100%
}

.margin {
    &-top {
        &-24 {
            margin-top: 1.5rem;
        }
    }
    &-bottom {
        &-14 {
            margin-bottom: 0.875rem;
        }
        &-24 {
            margin-bottom: 1.5rem;
        }
        &-40 {
            margin-bottom: 2.5rem;
        }
        
    }
    &-left {
        &-50 {
            margin-left: 3.125rem;
        }
    }
    &-right {
        &-50 {
            margin-right: 3.125rem;
        }
    }
}

// .padding {
//     &-top {

//     }
//     &-bottom {
        
//     }
//     &-left {
        
//     }
//     &-right {
        
//     }
// }