* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 1600px;
  margin: auto;
  border-left: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
}
p {
  -webkit-margin-before: 0px;
  margin-block-start: 0px;
  -webkit-margin-after: 0px;
  margin-block-end: 0px;
  -webkit-margin-start: 0px;
  -moz-margin-start: 0px;
  margin-inline-start: 0px;
  -webkit-margin-end: 0px;
  -moz-margin-end: 0px;
  margin-inline-end: 0px;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img {
  border-style: none;
}
@font-face {
  font-family: Raleway;
  font-weight: bold;
  src: url('../fonts/Raleway/Raleway-Bold.ttf');
}
@font-face {
  font-family: Raleway;
  font-weight: 500;
  src: url('../fonts/Raleway/Raleway-Medium.ttf');
}
@font-face {
  font-family: Raleway;
  font-weight: 300;
  src: url('../fonts/Raleway/Raleway-Light.ttf');
}
@font-face {
  font-family: Raleway;
  font-weight: normal;
  src: url('../fonts/Raleway/Raleway-Regular.ttf');
}
.head {
  height: 100px;
  border-bottom: 1px solid #d0d0d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 90px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.head--meni {
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding-left: 1%;
}
.head--meni-title {
  height: 100%;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 13px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}
.active {
  color: #f92525;
  border-bottom: 3px solid #f92525;
}
.active-list a {
  color: #f92525;
}
.footer {
  height: 45px;
  width: 100%;
  background-color: #ff0000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer--1 {
  display: flex;
  width: 75%;
}
.footer--1--suzi {
  width: 30%;
  border-right: 1px solid #ffffff;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.33;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.footer--icons {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.titles {
  font-size: 24px;
  font-weight: 300;
  color: #f92525;
  line-height: 28px;
}
.titles-2 {
  font-size: 24px;
  line-height: 28px;
  color: #202124;
}
.sub_titles {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  color: #000000;
}
.sub_titles-link {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  color: #000000;
}
.sub_titles-lite {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  color: #000000;
}
.plain-text {
  font-size: 13px;
  line-height: 22px;
  color: #000000;
}
.plain-text-red {
  font-size: 18px;
  line-height: 22px;
  color: #ff0000;
}
.dates {
  font-size: 14px;
  line-height: 24px;
  color: #9b9b9b;
}
.link {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}
.slika {
  max-width: 100%;
  padding-top: 25px;
}
.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 4% 90px 0;
}
.home--part {
  max-height: 550px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
}
.home--part-istaknuta-akcija {
  width: 66%;
  padding-bottom: 20px;
}
.home--part-istaknuta-akcija .title {
  font-size: 18px;
  font-weight: bold;
  color: #202124;
  padding: 20px 0;
}
.home--part-istaknuta-akcija .text {
  font-size: 14px;
  line-height: 1.71;
  color: #000000;
  height: 90px;
  overflow: hidden;
}
.home--part-2 {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 20px;
}
.home--part-2 .suzi-akcije {
  font-size: 24px;
  color: #f92525;
  margin-bottom: 10px;
}
.home--part-2 .overflow {
  overflow: auto;
}
.home--part-2 .overflow-border {
  border-bottom: 1px solid #d0d0d0;
  padding: 15px 0;
}
.home--part-2 .naslov {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  color: #000000;
  margin-right: 10px;
}
.home--part2 {
  max-height: 550px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
}
.home--part2:last-child {
  border-bottom: none;
}
.home--part2--vesti {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 30px 0 30px;
}
.home--part2--vesti--title {
  width: 80%;
  padding-bottom: 20px;
  border-bottom: 1px solid #000000;
}
.home--part2--vesti--naslovi {
  width: 80%;
  overflow: auto;
}
.home--part2--vesti--naslovi-1 {
  border-bottom: 1px solid #d0d0d0;
  padding: 15px 0;
}
.more {
  font-size: 14px;
  line-height: 1.71;
  font-weight: bold;
  color: #f92525;
  padding: 20px 0;
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (max-width: 1024px) {
  .home {
    padding: 4% 60px 0;
  }
  .home--part2--vesti--title {
    width: 85%;
  }
  .home--part2--vesti--naslovi {
    width: 85%;
  }
}
@media only screen and (max-width: 960px) {
  .home {
    padding: 4% 50px 0;
  }
  .home--part2--vesti--title {
    width: 85%;
  }
  .home--part2--vesti--naslovi {
    width: 85%;
  }
}
.oNama {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 4% 90px;
}
.oNama--1 {
  border-bottom: 1px solid #000000;
}
.oNama--1--text {
  width: 80%;
  font-size: 13px;
  font-weight: normal;
  color: #000000;
  line-height: 1.85;
  padding-bottom: 4%;
}
.oNama--2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 4% 0 0;
}
.oNama--2--blok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  width: 55%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.oNama--2--blok-naslov {
  color: #000000;
  font-size: 14px;
  font-weight: normal;
  width: 50%;
}
.oNama--2--blok-pdf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 9px;
  font-weight: bold;
  color: #000000;
  width: 20%;
}
@media only screen and (max-width: 1024px) {
  .oNama {
    padding: 4% 60px;
  }
  .oNama--2--blok {
    width: 45%;
  }
}
@media only screen and (max-width: 960px) {
  .oNama {
    padding: 4% 50px;
  }
  .oNama--1--text {
    width: 100%;
  }
}
@media only screen and (max-width: 640px) {
  .oNama--2--blok {
    width: 100%;
  }
}
@media only screen and (max-width: 360px) {
  .oNama {
    padding: 4% 35px;
  }
  .oNama--1--text {
    font-size: 12px;
  }
  .oNama--2--blok-naslov {
    font-size: 13px;
    width: 55%;
  }
}
.akcije {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 4% 90px;
}
.akcije--left {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: auto;
}
.akcije--left--suzi {
  width: 80%;
  padding: 25px 0;
  border-bottom: 1px solid #000000;
}
.akcije--left--naslov {
  width: 90%;
  padding: 20px 0 5px;
  font-weight: bold;
  border-bottom: 1px solid #d0d0d0;
}
.akcije--left--naslov:last-child {
  border-bottom: none;
}
.akcije--right {
  width: 67%;
  padding-left: 3%;
  border-left: 1px solid #979797;
}
.akcije--right--slika {
  max-height: 450px;
}
.akcije--right--naslov {
  color: #f92525;
}
.akcije--right--text {
  margin-top: 3%;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.69;
  color: #000000;
}
.akcije--right--text * {
  font-size: inherit !important;
}
.clicked {
  color: #f92525 !important;
}
@media only screen and (max-width: 1024px) {
  .akcije {
    padding: 4% 60px;
  }
}
@media only screen and (max-width: 960px) {
  .akcije {
    padding: 4% 50px;
  }
}
.vesti {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 4% 90px;
}
.vesti--suzi {
  width: 30%;
}
.vesti--suzi-naslov {
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #000000;
}
.vesti--suzi-vest {
  width: 100%;
  padding: 20px 0px 5px 0px;
  border-bottom: 1px solid #d0d0d0;
}
.vesti--suzi-vest--link {
  width: 100%;
}
.vesti--svet {
  width: 30%;
}
.vesti--svet-naslov {
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #000000;
}
.vesti--svet-vest {
  border-bottom: 1px solid #d0d0d0;
  padding: 25px 0px 3px 0px;
}
.vesti--svet-vest--naslov {
  width: 100%;
}
.vesti--svet-vest--image {
  padding-top: 25px;
}
.vesti--svet-vest--datum {
  padding: 6px 0px;
}
.vesti--prikazi {
  width: 30%;
}
.vesti--prikazi-naslov {
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #000000;
}
.vesti--prikazi-vest {
  padding: 25px 0px 5px 0px;
  border-bottom: 1px solid #d0d0d0;
}
.vesti--prikazi-vest--naslov {
  width: 100%;
}
.vesti--prikazi-vest--image {
  padding-top: 25px;
}
.vesti--prikazi-vest--datum {
  padding: 6px 0px;
}
.vest {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 4% 90px;
}
.vest--title {
  width: 65%;
  height: 35px;
}
.vest--container {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-top: 2%;
}
.vest--container-title {
  width: 100%;
}
.vest--container-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 350px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.vest--container-imgs img {
  height: 300px;
  width: 400px;
  padding-top: 2%;
}
.vest--container-text {
  width: 100%;
  padding: 2% 0px;
}
.vest--container-text p {
  margin-top: 22px;
}
@media only screen and (max-width: 1024px) {
  .vesti {
    padding: 4% 60px;
  }
  .vest {
    padding: 4% 60px;
  }
}
@media only screen and (max-width: 960px) {
  .vesti {
    padding: 4% 50px;
  }
  .vest {
    padding: 4% 50px;
  }
}
.komisije {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 4% 90px;
}
.komisije--left {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: auto;
}
.komisije--left--naslov {
  font-size: 18px;
  font-weight: 300;
  color: #000000;
  padding: 10px 0;
}
.komisije--right {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 5%;
  border-left: 1px solid #979797;
}
.komisije--right--naziv {
  font-size: 18px;
  font-weight: bold;
  color: #f92525;
  padding-bottom: 5%;
}
.komisije--right--deo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 4%;
}
.komisije--right--deo-title {
  font-size: 24px;
  font-weight: 300;
  color: #f92525;
  padding-bottom: 2%;
}
.komisije--right--deo-text {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.83;
  color: #000000;
}
.komisije--right--deo-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.clicked {
  color: #f92525 !important;
  font-weight: bold;
}
@media only screen and (max-width: 1024px) {
  .komisije {
    padding: 4% 60px;
  }
}
@media only screen and (max-width: 960px) {
  .komisije {
    padding: 4% 50px;
  }
}
.clanovi {
  min-height: calc(100vh - 100px - 65px);
  padding: 4% 90px;
}
.clanovi--opis {
  min-height: 50%;
}
.clanovi--opis-paragraf {
  margin-bottom: 2%;
}
.clanovi--pridruzi {
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #000000;
}
.clanovi--pridruzi-button {
  height: 40px;
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f92525;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: #ffffff;
}
.clanovi--spisak {
  min-height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.clanovi--spisak-tip {
  width: 30%;
}
.clanovi--spisak-tip--naslov {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1px 0px;
  margin-bottom: 30px;
  border-bottom: 1px solid #a8a8a8;
}
.clanovi--spisak-tip--red {
  font-size: 18px;
  padding: 15px 0px;
}
.clanovi--spisak-tip--red a {
  font-size: inherit;
}
.clanovi--spisak-telo {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.clanovi--spisak-telo--header {
  min-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1px 0px;
  margin-bottom: 30px;
  border-bottom: 1px solid #a8a8a8;
}
.clanovi--spisak-telo--header-naslov {
  width: 50%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.clanovi--spisak-telo--red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0px;
}
.clanovi--spisak-telo--red-naslov {
  width: 50%;
  height: 120px;
}
.clanovi--spisak-telo--red-osoba {
  width: 50%;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
@media only screen and (max-width: 1024px) {
  .clanovi {
    padding: 4% 60px;
  }
}
@media only screen and (max-width: 960px) {
  .clanovi {
    padding: 4% 50px;
  }
}
.preuzmi-publikaciju {
  font-size: 11px;
  font-weight: bold;
  color: #f92525;
}
.publikacije {
  display: flex;
  flex-direction: column;
  padding: 4% 90px;
  flex: 1;
}
.publikacije--top {
  display: flex;
  border-bottom: 1px solid #d0d0d0;
}
.publikacije--top-title {
  display: flex;
  justify-content: center;
  width: 33.33%;
  font-size: 24px;
  font-weight: 300;
  color: #000000;
  padding-bottom: 2%;
}
.red {
  color: #f92525;
}
.suzi-publikacije {
  padding: 2% 0;
}
.suzi-publikacije--clanak {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 2% 0 1%;
  border-bottom: 1px solid #d0d0d0;
}
.suzi-publikacije--clanak-link {
  font-size: 18px;
  font-weight: bold;
  color: #202124;
}
.suzi-publikacije--clanak--glasnik {
  display: flex;
  padding-top: 3%;
}
.suzi-publikacije--clanak--glasnik-deo {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.suzi-publikacije--clanak--glasnik-deo1 {
  width: 20%;
  margin: 0 2%;
  text-align: center;
  max-width: 100%;
}
.suzi-publikacije--clanak--glasnik-deo2 {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.suzi-publikacije--clanak--glasnik-deo2--naslov {
  font-size: 13px;
  color: #f92525;
  font-weight: normal;
  margin-bottom: 4%;
}
.suzi-publikacije--clanak--glasnik-deo2--text {
  font-size: 12px;
  color: #000000;
  line-height: 1.83;
  font-weight: 300;
}
.broj-glasnika {
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #202124;
  padding: 20px 0;
  margin-right: 2%;
  border-bottom: 1px solid #d0d0d0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.broj-glasnika--pdf {
  font-size: 9px;
  font-weight: bold;
  color: #000000;
  display: flex;
  align-items: center;
}
.broj-glasnika--pdf img {
  margin-left: 5px;
}
.kontakt {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 4% 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.kontakt--left {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.kontakt--left--info {
  font-size: 11px;
  font-weight: 500;
  line-height: 2;
  color: #000000;
  padding: 20px 0;
}
.kontakt--right {
  width: 70%;
}
@media only screen and (max-width: 1024px) {
  .kontakt {
    padding: 4% 60px;
  }
}
@media only screen and (max-width: 960px) {
  .kontakt {
    padding: 4% 50px;
  }
  .kontakt--left {
    width: 28%;
    margin-left: 2%;
  }
}
.prijatelji {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 4% 90px 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.prijatelji-boks {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
.prijatelji-boks--1 {
  height: 150px;
  width: 50%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.prijatelji-boks--1--logo {
  height: 80px;
  width: 270px;
  display: flex;
  align-items: center;
}
.prijatelji-boks--1--logo img {
  max-width: 100%;
  max-height: 100%;
}
.prijatelji-boks--1--adresa {
  font-size: 14px;
  line-height: 1.71;
  color: #000000;
  margin-top: 20px;
}
.prijatelji-boks--1--link {
  font-size: 12px;
  font-weight: bold;
  line-height: 2;
  color: #f92525;
}
@media only screen and (max-width: 1024px) {
  .head {
    padding: 0 60px;
  }
  .head--meni-title {
    width: 80px;
  }
}
@media only screen and (max-width: 960px) {
  .head--logo {
    width: 170px;
  }
  .head--logo img {
    width: 100%;
    height: 100%;
  }
  .head--meni-title {
    width: auto;
    margin: 0px 10px;
  }
}
@media only screen and (max-width: 960px) {
  .head {
    padding: 0 50px;
  }
  .head--logo {
    width: 170px;
  }
  .head--logo img {
    width: 100%;
    height: 100%;
  }
  .footer--icons {
    width: 18%;
  }
}
@media only screen and (max-width: 640px) {
  .footer {
    height: 150px;
  }
  .footer--1 {
    flex-direction: column;
    width: 60%;
  }
  .footer--1--suzi {
    width: 100%;
    height: 30%;
    border-right: none;
  }
  .footer--icons {
    width: 40%;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
