* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img {
  border-style: none;
}
@font-face {
  font-family: Raleway;
  font-weight: bold;
  src: url('../fonts/Raleway/Raleway-Bold.ttf');
}
@font-face {
  font-family: Raleway;
  font-weight: 500;
  src: url('../fonts/Raleway/Raleway-Medium.ttf');
}
@font-face {
  font-family: Raleway;
  font-weight: 300;
  src: url('../fonts/Raleway/Raleway-Light.ttf');
}
@font-face {
  font-family: Raleway;
  font-weight: normal;
  src: url('../fonts/Raleway/Raleway-Regular.ttf');
}
.head {
  height: 100px;
  border-bottom: 1px solid #d0d0d0;
  display: flex;
  padding: 0 90px;
  align-items: center;
  justify-content: space-between;
}
.head--meni {
  height: 100%;
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  padding-left: 10%;
}
.head--meni-title {
  height: 100%;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}
.active {
  color: #f92525;
  border-bottom: 3px solid #f92525;
}
.active-list a {
  color: #f92525;
}
.footer {
  height: 65px;
  width: 100%;
  background-color: #ff0000;
  display: flex;
}
.footer--suzi {
  width: 25%;
  border-right: 1px solid #ffffff;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer--icons {
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titles {
  font-size: 24px;
  font-weight: 300;
  color: #f92525;
  line-height: 28px;
}
.titles-2 {
  font-size: 24px;
  line-height: 28px;
  color: #202124;
}
.sub_titles {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  color: #000000;
}
.sub_titles-link {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  color: #000000;
}
.sub_titles a {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  color: #000000;
}
.plain-text {
  font-size: 13px;
  line-height: 22px;
  color: #000000;
}
.plain-text-red {
  font-size: 13px;
  line-height: 22px;
  color: #ff0000;
}
.dates {
  font-size: 14px;
  line-height: 24px;
  color: #9b9b9b;
}
.link {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}
.slika {
  max-width: 100%;
  padding-top: 25px;
}
.home {
  display: flex;
  flex-direction: column;
  padding: 4% 90px 0;
}
.home--part {
  height: 600px;
  display: flex;
  justify-content: space-between;
}
.home--part-istaknuta-akcija {
  width: 66%;
  border-bottom: 1px solid #d0d0d0;
}
.home--part-istaknuta-akcija .title {
  font-size: 18px;
  font-weight: bold;
  color: #202124;
  padding: 20px 0;
}
.home--part-istaknuta-akcija .text {
  font-size: 14px;
  line-height: 1.71;
  color: #000000;
  height: 90px;
  overflow: hidden;
}
.home--part-2 {
  width: 30%;
  border-bottom: 1px solid #d0d0d0;
  display: flex;
  flex-direction: column;
}
.home--part-2 .suzi-akcije {
  font-size: 24px;
  color: #f92525;
}
.home--part-2 .overflow {
  overflow: auto;
  flex: 1;
}
.home--part-2 .naslov {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.71;
  color: #000000;
  padding: 40px 0;
  margin-right: 10px;
  border-bottom: 1px solid #d0d0d0;
}
.home--part-2 .naslov:last-child {
  border-bottom: none;
}
.home--part2 {
  height: 700px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
}
.home--part2:last-child {
  border-bottom: none;
}
.home--part2--vesti {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 60px 0 30px;
}
.home--part2--vesti--title {
  width: 80%;
  padding-bottom: 20px;
  border-bottom: 1px solid #000000;
}
.home--part2--vesti--naslovi {
  width: 80%;
  overflow: auto;
  flex: 1;
}
.home--part2--vesti--naslovi-1 {
  border-bottom: 1px solid #d0d0d0;
  padding: 25px 0;
}
.more {
  font-size: 14px;
  line-height: 1.71;
  font-weight: bold;
  color: #f92525;
  padding: 20px 0;
  text-decoration: none;
  cursor: pointer;
}
.oNama {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 4% 90px;
}
.oNama--1 {
  border-bottom: 1px solid #000000;
}
.oNama--1--text {
  width: 80%;
  font-size: 13px;
  font-weight: normal;
  color: #000000;
  line-height: 1.85;
  padding-bottom: 90px;
}
.oNama--2 {
  display: flex;
  flex-direction: column;
  padding: 90px 0;
}
.oNama--2--blok {
  display: flex;
  padding: 20px 0;
  width: 25%;
  justify-content: space-between;
  align-items: center;
}
.oNama--2--blok-naslov {
  color: #000000;
  font-size: 14px;
  font-weight: normal;
}
.oNama--2--blok-pdf {
  display: flex;
  align-items: center;
  font-size: 9px;
  font-weight: bold;
  color: #000000;
}
.akcije {
  display: flex;
  flex: 1;
  padding: 4% 90px;
}
.akcije--left {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.akcije--left--suzi {
  width: 80%;
  padding: 25px 0;
  border-bottom: 1px solid #000000;
}
.akcije--left--naslov {
  width: 90%;
  padding: 30px 0;
  font-weight: bold;
  border-bottom: 1px solid #d0d0d0;
}
.akcije--left--naslov:last-child {
  border-bottom: none;
}
.akcije--right {
  width: 67%;
  padding-left: 3%;
  border-left: 1px solid #979797;
}
.akcije--right--slika {
  max-height: 450px;
}
.akcije--right--naslov {
  color: #f92525;
}
.akcije--right--text {
  margin-top: 3%;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.69;
  color: #000000;
}
.akcije--right--text * {
  font-size: initial !important;
}
.clicked {
  color: #f92525 !important;
}
.vesti {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 4% 90px;
}
.vesti--suzi {
  width: 30%;
}
.vesti--suzi-naslov {
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #000000;
}
.vesti--suzi-vest {
  width: 100%;
  padding: 25px 0px 5px 0px;
  border-bottom: 1px solid #d0d0d0;
}
.vesti--suzi-vest--link {
  width: 100%;
}
.vesti--suzi-vest--datum {
  width: 100%;
  padding: 6px 0px;
}
.vesti--svet {
  width: 30%;
}
.vesti--svet-naslov {
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #000000;
}
.vesti--svet-vest {
  border-bottom: 1px solid #d0d0d0;
  padding: 25px 0px 3px 0px;
}
.vesti--svet-vest--naslov {
  width: 100%;
}
.vesti--svet-vest--image {
  padding-top: 25px;
}
.vesti--svet-vest--datum {
  padding: 6px 0px;
}
.vesti--prikazi {
  width: 30%;
}
.vesti--prikazi-naslov {
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #000000;
}
.vesti--prikazi-vest {
  padding: 25px 0px 5px 0px;
  border-bottom: 1px solid #d0d0d0;
}
.vesti--prikazi-vest--naslov {
  width: 100%;
}
.vesti--prikazi-vest--image {
  padding-top: 25px;
}
.vesti--prikazi-vest--datum {
  padding: 6px 0px;
}
.vest {
  flex: 1;
  padding: 4% 90px;
}
.vest--title {
  width: 65%;
  height: 35px;
}
.vest--container {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 2%;
}
.vest--container-title {
  width: 100%;
}
.vest--container-imgs {
  display: flex;
  height: 350px;
  justify-content: space-between;
  align-items: center;
}
.vest--container-imgs img {
  height: 300px;
  width: 400px;
  padding-top: 2%;
}
.vest--container-text {
  width: 100%;
  padding: 2% 0px;
}
.vest--container-text p {
  margin-top: 22px;
}
.komisije {
  display: flex;
  flex: 1;
  padding: 4% 90px;
}
.komisije--left {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.komisije--left--naslov {
  font-size: 18px;
  font-weight: 300;
  color: #000000;
  padding: 10px 0;
}
.komisije--right {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  border-left: 1px solid #979797;
}
.komisije--right--naziv {
  font-size: 18px;
  font-weight: bold;
  color: #f92525;
  padding-bottom: 5%;
}
.komisije--right--deo {
  display: flex;
  flex-direction: column;
  padding-bottom: 4%;
}
.komisije--right--deo-title {
  font-size: 24px;
  font-weight: 300;
  color: #f92525;
  padding-bottom: 2%;
}
.komisije--right--deo-text {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.83;
  color: #000000;
}
.komisije--right--deo-table {
  display: flex;
}
.clicked {
  color: #f92525 !important;
  font-weight: bold;
}
.clanovi {
  min-height: calc(100vh - 100px - 65px);
  padding: 4% 90px;
}
.clanovi--opis {
  min-height: 50%;
}
.clanovi--opis-paragraf {
  margin-bottom: 2%;
}
.clanovi--pridruzi {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000000;
}
.clanovi--pridruzi-button {
  height: 26px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f92525;
  border-radius: 3px;
  font-size: 9px;
  font-weight: 500;
  line-height: 14px;
  color: #ffffff;
}
.clanovi--spisak {
  min-height: 50%;
  display: flex;
  justify-content: space-around;
}
.clanovi--spisak-tip {
  width: 30%;
}
.clanovi--spisak-tip--naslov {
  height: 120px;
  display: flex;
  align-items: center;
  padding: 1px 0px;
  margin-bottom: 30px;
  border-bottom: 1px solid #a8a8a8;
}
.clanovi--spisak-tip--red {
  font-size: 18px;
  padding: 15px 0px;
}
.clanovi--spisak-tip--red a {
  font-size: inherit;
}
.clanovi--spisak-telo {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.clanovi--spisak-telo--header {
  min-height: 120px;
  display: flex;
  padding: 1px 0px;
  margin-bottom: 30px;
  border-bottom: 1px solid #a8a8a8;
}
.clanovi--spisak-telo--header-naslov {
  width: 50%;
  height: 120px;
  display: flex;
  align-items: center;
}
.clanovi--spisak-telo--red {
  display: flex;
  padding: 15px 0px;
}
.clanovi--spisak-telo--red-naslov {
  width: 50%;
  height: 120px;
}
.clanovi--spisak-telo--red-osoba {
  width: 50%;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
