.usluge-box {
  height: 35.313rem;
  width: 70.625rem;
}
@media screen and (max-width: 1180px) {
  .usluge-box {
    width: 35.313rem;
    height: auto;
  }
}
@media screen and (max-width: 600px) {
  .usluge-box {
    width: 27.118rem;
  }
}
@media screen and (max-width: 480px) {
  .usluge-box {
    width: 22.5rem;
  }
}
@media screen and (max-width: 375px) {
  .usluge-box {
    width: 18.125rem;
  }
}
.usluge-box-image {
  width: 35.313rem;
  height: 35.313rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1180px) {
  .usluge-box-image {
    width: 100%;
    height: 23.438rem;
  }
}
@media screen and (max-width: 480px) {
  .usluge-box-image {
    height: 15.625rem;
  }
}
@media screen and (max-width: 375px) {
  .usluge-box-image {
    height: 12.5rem;
  }
}
.usluge-dodatne-title {
  width: 34.375rem;
}
.usluge-dodatne-a {
  width: 15.625rem;
}
@media screen and (max-width: 1180px) {
  .usluge-bottom {
    margin-bottom: 1.25rem;
  }
}
@media screen and (max-width: 779px) {
  .usluge-dodatne-title {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
  }
  .opacity {
    opacity: 1;
    height: auto;
    margin-bottom: 2.5rem;
    pointer-events: none;
  }
}
