.usluge {
    &-box {
        height: 565px;
        width: 1130px;
        &-image {
            // height: 28.125rem;
            // width: 28.125rem;
            width: 565px;
            height: 565px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url('../images/HomeIntro/toine-g-iRnUeA04kUY-unsplash.jpg');
        }
    }
    &-dodatne {
        &-title {
            width: 350px;
        }
        &-desc {
            width: 400px;
            position: relative;
            &-one {
                position: absolute;
                opacity: 0;
                top: 0;
                left: 0;
                transition: all 0.8s ease-in-out;
            }
        }
    }
}