.usluge {
    &-box {
        height: 35.313rem;
				width: 70.625rem;
				@media screen and(max-width: 1180px) {
					width: 35.313rem;
					height: auto;
				}
				@media screen and(max-width: 600px) {
					width: 27.118rem;
				}
				@media screen and(max-width: 480px) {
					width: 22.5rem;
				}
				@media screen and(max-width: 375px) {
					width: 18.125rem;
				}
        &-image {
            // height: 28.125rem;
            // width: 28.125rem;
            width: 35.313rem;
            height: 35.313rem;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
						@media screen and(max-width: 1180px) {
							width: 100%;
							height: 23.438rem;
						}
						@media screen and(max-width: 480px) {
							height: 15.625rem;
						}
						@media screen and(max-width: 375px) {
							height: 12.5rem;
						}
        }
    }
    &-dodatne {
        &-title {
            width: 34.375rem;
				}
				&-a {
					width: 15.625rem;
				}
    }
}

@media screen and (max-width: 1180px) {
	.usluge-bottom {
		margin-bottom: 1.25rem;
	}
}

@media screen and (max-width: 779px) {
	.usluge-dodatne {
		&-title {
				width: 100%;
				padding-left: 1.5rem;
				padding-right: 1.5rem;
				box-sizing: border-box;
		}
	}
	.opacity {
		opacity: 1; 
		height: auto; 
		margin-bottom: 2.5rem; 
		pointer-events: none;
	}
}