.usluge {
    &-box {
        height: 565px;
				width: 1130px;
				@media screen and(max-width: 1180px) {
					width: 565px;
					height: auto;
				}
				@media screen and(max-width: 600px) {
					width: 435px;
				}
				@media screen and(max-width: 480px) {
					width: 360px;
				}
				@media screen and(max-width: 375px) {
					width: 290px;
				}
        &-image {
            // height: 28.125rem;
            // width: 28.125rem;
            width: 565px;
            height: 565px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
						@media screen and(max-width: 1180px) {
							width: 100%;
							height: 375px;
						}
						@media screen and(max-width: 480px) {
							height: 250px;
						}
						@media screen and(max-width: 375px) {
							height: 200px;
						}
        }
    }
    &-dodatne {
        &-title {
            width: 34.375rem;
        }
        &-desc {
            width: 400px;
            position: relative;
            &-one {
                position: absolute;
                opacity: 0;
                top: 0;
                left: 0;
                transition: all 0.8s ease-in-out;
            }
        }
    }
}

@media screen and (max-width: 1180px) {
	.usluge-bottom {
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 779px) {
	.usluge-dodatne {
		&-title {
				width: auto;
		}
		&-desc {
			width: 400px;
			position: relative;
			&-one {
					position: relative;
					height: 0;
					min-height: 0;
					margin-left: 24px;
					margin-right: 24px;
					text-align: center;
					transition: height 0.8s ease-in-out;
			}
		}
	}
	.opacity {
		opacity: 1; 
		height: auto; 
		margin-bottom: 40px; 
		pointer-events: none;
	}
}