.titles {
  font-size: 24px;
  font-weight: 300;
  color: #f92525;
  line-height: 28px;
}
.titles-2 {
  font-size: 24px;
  line-height: 28px;
  color: #202124;
}
.sub_titles {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  color: #000000;
}
.sub_titles-link {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  color: #000000;
}
.sub_titles a {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  color: #000000;
}
.plain-text {
  font-size: 13px;
  line-height: 22px;
  color: #000000;
}
.dates {
  font-size: 14px;
  line-height: 24px;
  color: #9b9b9b;
}
.link {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}
.slika {
  max-width: 100%;
  padding-top: 25px;
}
