<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
  <base href="{{_BASE}}">
  <title>Drax Detailing</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% block description %}{% endblock %}"/>
  {# <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bare-css@2.0.3/css/bare.min.css"> #}
  <link rel="stylesheet" type="text/css" href="cms/sharedstyle.css">

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/jquery-ui.css">

  <link rel="stylesheet" href="owl/assets/owl.carousel.min.css" />
  <link rel="stylesheet" href="owl/assets/owl.theme.default.css" />

	<link rel="stylesheet" href="css/lightgallery.min.css">    
    
	<link rel="stylesheet" href="css/bootstrap-datepicker.css">

	{# <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css"> #}
	
	<link rel="stylesheet" href="css/swiper.css">

	<link rel="stylesheet" href="css/aos.css">

	<link rel="stylesheet" type="text/css" href="styles/style.css">
  <!--
  <meta name="keywords" content="">
  <link rel="icon" href="images/favicon.png">
  -->
</head>
<body >
<div id="header" class="header flex ju-co-between al-it-center">
  <a href="index" class="header-logo margin-left-50 margin-799-left-24">
    <img src="images/logo.svg">
  </a>
  <div class="flex al-it-center display-799-none">
    <a href="o_nama" class="font-12 font-600 color-blue margin-right-50 cursor-pointer">O NAMA</a>
    <a href="usluge" class="font-12 font-600 color-blue margin-right-50 cursor-pointer">CENOVNIK USLUGA</a>
    <a href="galerija" class="font-12 font-600 color-blue margin-right-50 cursor-pointer">GALERIJA</a>
    {# <div class="font-12 font-600 color-blue margin-right-50 cursor-pointer">BLOG</div> #}
    {# <button class="header-button font-12 font-600 color-white background-green-blue border-green-blue margin-top-24 margin-bottom-24 margin-right-50">SIGN UP</button> #}
  </div>
	<div onclick="OpenClose()" class="display-none display-799-flex margin-right-50">
		<img src="images/menu.png">
	</div>
	<div class="ham flex flex-column align-items-center padding-30">
	<a href="o_nama" class="font-12 font-600 color-blue margin-bottom-20 cursor-pointer">O NAMA</a>
    <a href="usluge" class="font-12 font-600 color-blue margin-bottom-20 cursor-pointer">CENOVNIK USLUGA</a>
    <a href="galerija" class="font-12 font-600 color-blue margin-bottom-40 cursor-pointer">GALERIJA</a>
		<div class="font-14 font-600 color-grey margin-bottom-20 cursor-pointer">Kontak telefon</div>
		<div class="font-12 font-300 color-blue margin-bottom-14 cursor-pointer">011/123 45 67</div>
		<div class="font-12 font-300 color-blue margin-bottom-14 cursor-pointer margin-bottom-40">069/55 06 063</div>
		<div class="font-14 font-300 color-grey margin-bottom-20">Radno vreme:</div>
		<div class="font-12 font-300 color-blue line-height-2">Ponedeljak-Petak:</div>
		<div class="font-12 font-300 color-blue margin-bottom-14"> 09-17h</div>
		<div class="font-12 font-300 color-blue line-height-2">Subota:</div>
		<div class="font-12 font-300 color-blue margin-bottom-14"> 12-17h</div>
	</div>
</div>

{% block content %}{% endblock %}

{# <div style="height: 400px;" class="background-dark"></div> #}
<div class="w-100 map-black-white" style="height: 300px;" id="mapid"></div>

<div class="footer background-dark flex flex-column al-it-center">
  {# <div class="margin-bottom-35 flex-540 ju-co-center">
    <a href="index"><img style="height: 6.5rem;" src="images/logo.svg"></a>
  </div> #}
  {# <div class="flex flex-1 flex-colum ju-co-between"> #}
    <div class="w-100 flex flex-wrap ju-co-center ju-co-1024-start">
      {# <div class="flex w-100"> #}
      <!-- 1 -->
        <div class="flex flex-column ju-co-between margin-right-40 margin-left-40 margin-bottom-40">
          <div class="flex flex-column">
            <div class="font-18 font-300 line-height-2 color-white margin-bottom-14">Drax Detailing</div>
            <a href="o_nama" class="font-14 font-300 line-height-2 color-grey text-540-center">O Nama</a>
            <a href="usluge" class="font-14 font-300 line-height-2 color-grey text-540-center">Cenovnik Usluga</a>
            <a href="galerija" class="font-14 font-300 line-height-2 color-grey text-540-center">Galerija</a>
          </div>
        </div>
        <!-- 3 -->
        <div class="flex flex-column ju-co-between margin-right-40 margin-left-40 margin-bottom-40">
          <div class="flex flex-column al-it-540-center margin-540-bottom-60">
            <div class="font-18 font-300 line-height-2 color-white margin-bottom-14">Adresa:</div>
            <div class="font-14 font-300 line-height-2 color-grey text-540-center">Isidora Stojanovića 102</div>
            <div class="font-14 font-300 line-height-2 color-grey text-540-center">11080 Zemun</div>
            <div class="font-14 font-300 line-height-2 color-grey text-540-center margin-bottom-14">Plavi Horizonti</div>
          </div>
        </div>
        
        <!-- 4 -->
        <div class="flex flex-column ju-co-between margin-right-40 margin-left-40 margin-bottom-40">
          <div class="flex flex-column al-it-540-center margin-540-bottom-60">
            <div class="font-18 font-300 line-height-2 color-white margin-bottom-14">Telefon:</div>
            <div class="font-14 font-300 line-height-2 color-grey">011/123 45 67</div>
            <div class="font-14 font-300 line-height-2 color-grey margin-bottom-14">069/55 06 063</div>
            <div class="flex">
              <img style="width: 25px; height: 25px" class="margin-right-7" src="images/viber.png">
              <img style="width: 25px; height: 25px" class="margin-right-7 margin-left-7" src="images/messenger.png">
              <img style="width: 25px; height: 25px" class="margin-left-7" src="images/whatsapp.png">
            </div>
          </div>
        </div>
        <!-- 2 -->
        <div class="flex flex-column ju-co-between margin-right-40 margin-left-40 margin-bottom-40">
          <div class="flex flex-column al-it-540-center margin-540-bottom-60">
            <div class="font-18 font-300 line-height-2 color-white margin-bottom-14">Radno vreme:</div>
            <div class="font-14 font-300 line-height-2 color-grey text-540-center">Ponedeljak-Petak:<br> 09-17h</div>
            <div class="font-14 font-300 line-height-2 color-grey text-540-center margin-bottom-14">Subota:<br> 12-17h</div>
          </div>
          <div class="font-14 font-200 line-height-2 color-white text-540-center"></div>
        </div>
        <!-- 5 -->
        <div class="w-50 w-540-100 flex flex-column ju-co-between margin-right-40 margin-left-40 margin-top-53 margin-bottom-40">
          <div class="flex flex-column al-it-end al-it-540-center">
            <div class="font-18 font-300 line-height-1_5 color-white margin-bottom-20">Pratite nas na<br> društvenim mrežama:</div>
            <div class="flex">
              <a href="https://www.facebook.com/orookcareers" target="_blank" class="cursor-pointer"><img src="images/fb.svg"></a>
              <a href="https://www.instagram.com/" target="_blank" class="margin-left-24 cursor-pointer"><img src="images/ig.svg"></a>
            </div>
          </div>
        </div>
    </div>
    <div class="font-14 font-200 line-height-2 color-grey">2019 &copy; Drax Detailing</div>
</div>


{# <script src="https://code.jquery.com/jquery-3.3.1.js"  crossorigin="anonymous"></script>
<script src="owl/owl.carousel.min.js"></script> #}
<script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/swiper.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/picturefill.min.js"></script>
  <script src="js/lightgallery-all.min.js"></script>
  <script src="js/jquery.mousewheel.min.js"></script>
<script src="js/home.js"></script>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
crossorigin=""/>

<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
crossorigin=""></script>

<script>
    var MapStr = '44.805197991471516,20.47651067376137';
    var lat  = Number( MapStr.split(',')[0] );
    var lng  = Number( MapStr.split(',')[1] );
    var map =  L.map('mapid').setView([lat, lng ], 13);

    L.tileLayer('https://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);    

    var marker = new L.marker([lat, lng]).addTo(map);

    $(document).ready(function L(){
      $('.lightgallery').lightGallery({
				download: true
			});
    });
</script>


</body>
</html>
