<!DOCTYPE html>
<html lang="en">
<head>
  <base href="{{_BASE}}">
  <title>SUZI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="images/suzi.png">
  {# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> #}
  <link rel="stylesheet" type="text/css" href="styles/style.css">
  {# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> #}
  {# <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> #}
</head>
<body>
{# <div style="max-width: 1600px;"> #}
    <div class="head">
        <a style="margin-top: 10px;" class="head--logo" href="index"><img style="margin-left: -2%;" src="images/suzi logo-2.svg" alt="logo"></a>
        <div class="head--meni">

            <a href="index"         class="head--meni-title {%if (_GET['twig_file_name'] | lower)=='index' %} active {%endif%}">Početna</a>
            <a href="o_nama"         class="head--meni-title {%if (_GET['twig_file_name'] | lower)=='o_nama' %} active {%endif%}">O nama</a>
            <a href="akcije"        class="head--meni-title {%if (_GET['twig_file_name'] | lower)=='akcije' %} active {%endif%}">Akcije</a>
            <a href="vesti"         class="head--meni-title {%if (_GET['twig_file_name'] | lower)=='vesti' %} active {%endif%}">Vesti</a>
            <a href="komisije"      class="head--meni-title {%if (_GET['twig_file_name'] | lower)=='komisije' %} active {%endif%}">Komisije</a>
            <a href="publikacije"   class="head--meni-title {%if (_GET['twig_file_name'] | lower)=='publikacije' %} active {%endif%}">Publikacije</a>
            <a href="clanovi"       class="head--meni-title {%if (_GET['twig_file_name'] | lower)=='clanovi' %} active {%endif%}">Članovi</a>
            <a href="kontakt"       class="head--meni-title {%if (_GET['twig_file_name'] | lower)=='kontakt' %} active {%endif%}">Kontakt</a>
            <img src="images/pretraga.svg"/>

        </div>
        <div class="head--responsive">
            <button id="meni">Meni</button>
            <div id="nav-bar" class="head--responsive-menu">
                <a href="index"         class="head--meni-title {%if (_GET['twig_file_name'] | lower)=='index' %} active {%endif%}">Početna</a>
                <a href="o_nama"         class="head--meni-title {%if (_GET['twig_file_name'] | lower)=='o_nama' %} active {%endif%}">O nama</a>
                <a href="akcije"        class="head--meni-title {%if (_GET['twig_file_name'] | lower)=='akcije' %} active {%endif%}">Akcije</a>
                <a href="vesti"         class="head--meni-title {%if (_GET['twig_file_name'] | lower)=='vesti' %} active {%endif%}">Vesti</a>
                <a href="komisije"      class="head--meni-title {%if (_GET['twig_file_name'] | lower)=='komisije' %} active {%endif%}">Komisije</a>
                <a href="publikacije"   class="head--meni-title {%if (_GET['twig_file_name'] | lower)=='publikacije' %} active {%endif%}">Publikacije</a>
                <a href="clanovi"       class="head--meni-title {%if (_GET['twig_file_name'] | lower)=='clanovi' %} active {%endif%}">Članovi</a>
                <a href="kontakt"       class="head--meni-title {%if (_GET['twig_file_name'] | lower)=='kontakt' %} active {%endif%}">Kontakt</a>
            </div>
        </div>
    </div>

{% block content %}{% endblock %}

    <div class="footer">
        <div class="footer--1">
            <div class="footer--1--suzi">2018 SUZI</div>
            <div class="footer--1--suzi"><a href="sponzori">Sponzori SUZI</a></div>
            <div class="footer--1--suzi" style="border-right: none;"><a href="prijatelji">Prijatelji SUZI</a></div>
        </div>
        <div class="footer--icons">
            <a href="#"><img src="images/Facebook.svg"></a>
            <a href="#"><img src="images/Linkedin.svg"></a>
            <a href="#"><img src="images/Twitter.svg"></a>
        </div>
    </div>
{# </div> #}
{# <script>
    let meni = document.getElementById("meni");
    let nav_bar = document.getElementById("nav-bar");

    nav_bar.addEventListener("click", function(){
        meni.classList.toggle("active-meni");
    });

</script> #}
</body>
</html>
