{% extends "base.twig" %}
{% block description %}All posts{% endblock %}
{% block content %}

<!-- intro -->
{% set item = fetch("Home_Intro") %}
<div id="owl1" class="owl-carousel owl-theme">
  {% for img in item.Images_ %}
  <div  class="home-blok-1 flex flex-column al-it-center"
      style="background: linear-gradient(180deg, #111111 2.41%, rgba(17, 17, 17, 0) 54%),linear-gradient(360deg, rgba(17, 17, 17, 1) 0%, rgba(17, 17, 17, 0) 42%), url(img/{{img.slug}});">
    {# <div class="font-36 font-600 color-blue text-center margin-bottom-14 padding-top-200">"Budućnost pripada onima koji <br> sanjaju velike snove"</div> #}
    {# <div class="font-16 font-normal line-height-1_75 color-blue text-center">Viktor Igo</div> #}
    {# <div class="font-16 font-normal line-height-1_75 color-white text-center margin-bottom-40">Connect with top companies and opportunities.</div> #}
    {# <button class="font-12 font-600 color-white text-center background-orange border-orange">GET STARTED</button> #}
  </div>
  {% endfor %}
</div>

<div class="background-dark border-box w-100 flex flex-column ju-co-center al-it-center padding-top-80 padding-left-24 padding-right-24">
  <div style="max-width: 630px;" class="font-36 color-grey font-500 text-center margin-bottom-40">Drax Detailing je studio za negu i ulepšavanje Vašeg ljubimca</div>
  <div style="max-width: 700px;" class="font-16 color-grey font-300 text-center margin-bottom-14">Naš studio je naša strast, a automobile volimo više od svega. Kod nas možete Vašeg ljubimca počastiti nekom iz široke lepeze usluga kao što su detailing svih delova na najvišem mogućem nivou, više vrsta poliranja, dubinsko pranje, detaljno pranje eksterijera, kao i keramička zaštita svih delova i komponenti vozila.</div>
  <div style="max-width: 700px;" class="font-16 color-grey font-300 text-center margin-bottom-40">Želite da zaštitite i očuvate sjaj Vašeg tek kupljenog automobila, ili prosto želite da osvežite izgled Vašeg oldtajmera ili jangtajmera? Na pravom ste mestu! Mi ćemo zaštititi i očuvati Vašeg ljubimca da može još mnogo godina da izgleda čak i bolje nego kad je bio nov. Garantujemo kvalitet vrhunske usluge i verujemo da kad jednom dođete, uvek ćete se vraćati!</div>
  <a href="o_nama"><button class="background-blue font-14 color-black border-blue margin-bottom-80">DETALJNIJE</button></a>
</div>

<div class="background-dark flex flex-column ju-co-center al-it-center padding-top-24 padding-bottom-50" >
  <div class="font-36 color-grey font-500 text-center margin-bottom-80 padding-left-24 padding-right-24">Naša ponuda paketa i usluga</div>
  <div class="flex flex-wrap ju-co-center w-100">
    <a href="usluge/#drax" class="home-usluge flex flex-column al-it-center margin-bottom-80">
      <img class="home-usluge-icon margin-bottom-24" src="images/drax.png">
      <div class="font-24 color-grey">Dr Clean Drax Paket</div>
    </a>
    <a href="usluge/#light" class="home-usluge flex flex-column al-it-center margin-bottom-80">
      <img class="home-usluge-icon margin-bottom-24" src="images/light.png">
      <div class="font-24 color-grey">Light Paket</div>
    </a>
    <a href="usluge/#jednoslojno" class="home-usluge flex flex-column al-it-center margin-bottom-80">
      <img class="home-usluge-icon margin-bottom-24" src="images/jednoslojno.png">
      <div class="font-24 color-grey">Jednoslojno poliranje</div>
    </a>
    <a href="usluge/#dvoslojno" class="home-usluge flex flex-column al-it-center margin-bottom-80">
      <img class="home-usluge-icon margin-bottom-24" src="images/dvoslojno.png">
      <div class="font-24 color-grey">Dvoslojno Poliranje</div>
    </a>
    <a href="usluge/#troslojno" class="home-usluge flex flex-column al-it-center margin-bottom-80">
      <img class="home-usluge-icon margin-bottom-24" src="images/troslojno.png">
      <div class="font-24 color-grey">Troslojno Poliranje</div>
    </a>
    <a href="usluge/#enterijer" class="home-usluge flex flex-column al-it-center margin-bottom-80">
      <img class="home-usluge-icon margin-bottom-24" src="images/enterijer.png">
      <div class="font-24 color-grey ">Detailing Enterijera</div>
    </a>
    {# <div class="home-usluge flex flex-column al-it-center margin-bottom-80">
      <img class="home-usluge-icon margin-bottom-24" src="images/logo.svg">
      <div class="font-24 color-grey">Keramička Zaštita</div>
    </div>
    <div class="home-usluge flex flex-column al-it-center margin-bottom-80">
      <img class="home-usluge-icon margin-bottom-24" src="images/logo.svg">
      <div class="font-24 color-grey">Dodatne Usluge</div>
    </div> #}
  </div>
  <a href="usluge"><button class="background-blue font-14 color-black border-blue margin-bottom-80">SVE USLUGE</button></a>
</div>

<div class="background-blue flex flex-column al-it-center ju-co-center w-100 padding-top-80 padding-bottom-80">
{# background: linear-gradient(180deg, #111111 0%, rgba(30, 172, 199, 1) 100%); #}
  <div class="font-36 color-black font-600 text-center margin-bottom-24">Naši zadovoljni klijenti</div>
  <div id="owl2" class="owl-carousel owl-theme">
    <div class="flex flex-column al-it-center ju-co-between" style="width: 100%;">
      {# <div class="flex al-it-center ju-co-center">
        <img style="max-height: 30px;transform: rotate(180deg);" src="images/arrow.png">
      </div> #}
      <div class="flex al-it-center ju-co-center hexagon hexagon2">
        <div class="hexagon-in1">
          <div class="hexagon-in2"></div>
        </div>
      </div>
      <div style="max-width: 620px;" class="font-16 color-black font-normal text-center margin-top-24">"Lorem Ipsum is simply dummy" text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"</div>
      <div class="font-16 color-black font-600 text-center margin-top-24">Ime i Prezime</div>
    </div>
  </div>
</div>

<div style="padding: 30px 0px 30px 0;" class="background-dark flex al-it-center ju-co-around">
<div><img style="max-height: 30px;transform: rotate(180deg);" src="images/arrow-blue.png"></div>
<div id="owl3" style="width:90%;" class="owl-carousel owl-theme flex al-it-center ju-co-between">
  {% for img in item.Images_ %}
    <div style="height: 18vw; width: 27.4vw;background-image: url(img/{{img.slug}});background-size:cover;background-position:center;" class="background-dark"></div>
  {% endfor %}
</div>
  <div><img style="max-height: 30px;" src="images/arrow-blue.png"></div>
</div>

{% endblock %}
