{% extends "base.twig" %}
{% block description %}All posts{% endblock %}
{% block content %}

<div class="home-blok-1 flex flex-column al-it-center ju-co-center">
  <div class="font-48 font-600 color-white text-center margin-bottom-14">FINDING YOUR DREAM JOB US</div>
  <div class="font-16 font-normal line-height-1_75 color-white text-center">The next-gen tool reinventing the job search in construction and engineering.</div>
  <div class="font-16 font-normal line-height-1_75 color-white text-center margin-bottom-40">Connect with top companies and opportunities.</div>
  <button class="font-12 font-600 color-white text-center background-orange border-orange">GET STARTED</button>
</div>


{% endblock %}
