{% extends "base.twig" %}
{% block description %}All posts{% endblock %}
{% block content %}

<div class="home-blok-1 flex flex-column al-it-center">
  <div class="font-36 font-600 color-blue text-center margin-bottom-14 padding-top-200">"Budućnost pripada onima koji <br> sanjaju velike snove"</div>
  <div class="font-16 font-normal line-height-1_75 color-blue text-center">Viktor Igo</div>
  {# <div class="font-16 font-normal line-height-1_75 color-white text-center margin-bottom-40">Connect with top companies and opportunities.</div> #}
  {# <button class="font-12 font-600 color-white text-center background-orange border-orange">GET STARTED</button> #}
</div>

<div class="background-dark w-100 flex flex-column ju-co-center al-it-center padding-top-80  padding-bottom-80" >
  <div class="font-36 color-grey font-500 margin-bottom-80">USLUGE</div>
  <div class="flex margin-bottom-24">
    <div class="flex flex-column ju-co-center al-it-center margin-left-50 margin-right-50">
      <img style="width: 100px; height:100px;" class="margin-bottom-24" src="images/icon1.svg">
      <div class="font-24 color-grey">Poliranje</div>
    </div>
    <div class="flex flex-column ju-co-center al-it-center margin-left-50 margin-right-50">
      <img style="width: 100px; height:100px;" class="margin-bottom-24" src="images/icon2.svg">
      <div class="font-24 color-grey">Voskiranje</div>
    </div>
    <div class="flex flex-column ju-co-center al-it-center margin-left-50 margin-right-50">
      <img style="width: 100px; height:100px;" class="margin-bottom-24" src="images/icon3.svg">
      <div class="font-24 color-grey">Poliranje</div>
    </div>
    <div class="flex flex-column ju-co-center al-it-center margin-left-50 margin-right-50">
      <img style="width: 100px; height:100px;" class="margin-bottom-24" src="images/icon4.svg">
      <div class="font-24 color-grey">Voskiranje</div>
    </div>
  </div>
  <div class="flex margin-top-24">
    <div class="flex flex-column ju-co-center al-it-center margin-left-50 margin-right-50">
      <img style="width: 100px; height:100px;" class="margin-bottom-24" src="images/icon1.svg">
      <div class="font-24 color-grey">Poliranje</div>
    </div>
    <div class="flex flex-column ju-co-center al-it-center margin-left-50 margin-right-50">
      <img style="width: 100px; height:100px;" class="margin-bottom-24" src="images/icon2.svg">
      <div class="font-24 color-grey">Voskiranje</div>
    </div>
    <div class="flex flex-column ju-co-center al-it-center margin-left-50 margin-right-50">
      <img style="width: 100px; height:100px;" class="margin-bottom-24" src="images/icon3.svg">
      <div class="font-24 color-grey">Poliranje</div>
    </div>
    <div class="flex flex-column ju-co-center al-it-center margin-left-50 margin-right-50">
      <img style="width: 100px; height:100px;" class="margin-bottom-24" src="images/icon4.svg">
      <div class="font-24 color-grey">Voskiranje</div>
    </div>
  </div>
</div>

<div class="background-blue w-100" style="height: 100vh;background: linear-gradient(180deg, #111111 0%, rgba(30, 172, 199, 1) 100%);">

{# <div class="hexagon hexagon1"><div class="hexagon-in1"><div class="hexagon-in2"></div></div></div> #}

<div class="hexagon hexagon2"><div class="hexagon-in1"><div class="hexagon-in2"></div></div></div>


</div>


{% endblock %}
