{% extends "base.twig" %}

{% block content %}

    <div class="oNama">
        <div class="oNama--1">
            <div class="oNama--1--text">
            SUZI je nacionalno nevladino tehničko udruženje osnovano u januaru 2018-e godine u Beogradu, Srbija. Članovi SUZI su svi zainteresovani inženjeri,
geolozi, seizmolozi, arhitekte i urbanisti, edukatori, istraživači, ekonomisti, sociolozi, predstavnici državnih institucija, opštinski kadrovi zaduženi
za primenu propisa i gradjevinsku inspekciju, pripadnici službi za hitne intervencije u kriznim situacijama, i pripradnici ostalih struka koje zemljotresi dotiču
i koji se bave uzrocima i posledicama zemljotresa. SUZI je multidisciplinarna organizacija koja želi da saradjuje sa drugim tehničkim i profesionalnim društvima
u zemlji i inostranstvu. SUZI je nacionalna organizacija, član Internacionalne Asocijacije za Zemljotresno Inženjerstvo (International Association for Earthquake Engineering – IAEE).
            </div>
        </div>
        <div class="oNama--2">
            <div class="oNama--2--blok">
                <div class="oNama--2--blok-naslov">Lorem ipsum dolor sit amet</div>
                <a href="#" download class="oNama--2--blok-pdf">Preuzmi PDF <img style="margin-left: 10px;" src="images/pdf.svg"></a>
            </div>
            <div class="oNama--2--blok">
                <div class="oNama--2--blok-naslov">Lorem ipsum dolor sit amet</div>
                <a href="#" download class="oNama--2--blok-pdf">Preuzmi PDF <img style="margin-left: 10px;" src="images/pdf.svg"></a>
            </div>
            <div class="oNama--2--blok">
                <div class="oNama--2--blok-naslov">Lorem ipsum dolor sit amet</div>
                <a href="#" download class="oNama--2--blok-pdf">Preuzmi PDF <img style="margin-left: 10px;" src="images/pdf.svg"></a>
            </div>
        </div>
    </div>

{% endblock %}