{% extends "base.twig" %}
{% block description %}O nama{% endblock %}
{% block content %}

<div  class="home-blok-1 flex flex-column al-it-center"
      style="background: linear-gradient(180deg, #111111 2.41%, rgba(17, 17, 17, 0) 54%),linear-gradient(360deg, rgba(17, 17, 17, 1) 0%, rgba(17, 17, 17, 0) 42%), url(images/HomeIntro/yuvraj-singh-tmAynVA_ihE-unsplash.jpg);">
</div>
<div class="flex flex-column al-it-center background-blue padding-top-80 padding-bottom-80 w-100 h-100">
    <div class="font-36 color-black font-500 margin-bottom-40">O nama</div>
  <div style="max-width: 700px;" class="font-16 color-black font-300 text-center margin-bottom-40">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
</div>
<div class="background-dark flex flex-column al-it-center ju-co-around padding-top-50 padding-bottom-50">
    <div class="font-36 color-grey font-500 margin-bottom-40">Partneri</div>
    <div class="flex al-it-center ju-co-center">
        <img class="margin-left-7 margin-right-7" src="images/logo.svg">
        <img class="margin-left-7 margin-right-7" src="images/logo.svg">
        <img class="margin-left-7 margin-right-7" src="images/logo.svg">
        <img class="margin-left-7 margin-right-7" src="images/logo.svg">
    </div>
</div>

{% endblock %}