{% set Testimonials = fetch("Testimonials") %}
<h2>Testimonials</h2>
<table border=1 style="width:100%">
<tr>
  <td>id</td>
  <td>Naslov</td>
  <td>Slika</td>
  <td>GPS</td>
</tr>
{% for item in Testimonials %}
<tr>
  <td> {{item.id}} </td>
  <td> {{item.Naslov}} </td>
  <td> <img style="max-height:80px" src="img/{{item.Slika}}" ></td>
  <td> {{item.GPS}} </td>
</tr>
{% endfor %}
</table>
</div>