{% extends "base.twig" %}
{% block description %}All posts{% endblock %}
{% block content %}

<!-- blok 1 -->
<div class="flex flex-column al-it-center ju-co-center padding-top-120 background-dark">
    <div class="font-36 color-grey font-bold margin-bottom-40">Kraci opis uopsteno</div>
    <div class="font-16 color-grey margin-left-50 margin-right-50 text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
</div>

<!-- blok 2 - usluge -->
<div class="flex flex-column al-it-center ju-co-center background-dark padding-top-80 padding-bottom-80">
   <!-- dr clean drax paket-->
    <div class="flex usluge-box border-blue margin-bottom-40">
        <div class="usluge-box-image"></div>
        <div class="flex flex-column al-it-center flex-1 margin-left-24 margin-right-24">
            <div class="font-24 font-600 color-blue margin-top-24 margin-bottom-40">DR CLEAN DRAX PAKET</div>
            <div class="font-14 font-600 color-blue margin-bottom-20">Paket obuhvata:</div>
            <div class="flex flex-column w-100 margin-bottom-20">
                <div class="flex margin-bottom-7">
                    <div style="width: 20px;" class="font-14 font-300 color-blue">1.</div>
                    <div class="font-14 font-300 color-blue">Detailing kompletnog enterijera</div>
                </div>
                <div class="flex margin-bottom-7">
                    <div style="width: 20px;" class="font-14 font-300 color-blue">2.</div>
                    <div class="font-14 font-300 color-blue">Troslojno poliranje</div>
                </div>
                <div class="flex margin-bottom-7">
                    <div style="width: 20px;" class="font-14 font-300 color-blue">3.</div>
                    <div class="font-14 font-300 color-blue">Detailing felni bez skidanje</div>
                </div>
                <div class="flex margin-bottom-7">
                    <div style="width: 20px;" class="font-14 font-300 color-blue">4.</div>
                    <div class="font-14 font-300 color-blue">Detailing motornog prostora</div>
                </div>
                <div class="flex margin-bottom-7">
                    <div style="width: 20px;" class="font-14 font-300 color-blue">5.</div>
                    <div class="font-14 font-300 color-blue">Detailing uvala vrata</div>
                </div>
                <div class="flex margin-bottom-7">
                    <div style="width: 20px;" class="font-14 font-300 color-blue">6.</div>
                    <div class="font-14 font-300 color-blue">Poliranje vrhova auspuha</div>
                </div>
                <div class="flex margin-bottom-7">
                    <div style="width: 20px;" class="font-14 font-300 color-blue">7.</div>
                    <div class="font-14 font-300 color-blue">Poliranje pragova vrata</div>
                </div>
                <div class="flex margin-bottom-7">
                    <div style="width: 20px;" class="font-14 font-300 color-blue">8.</div>
                    <div class="font-14 font-300 color-blue">Voskiranje PREMIUM tvrdi vosak</div>
                </div>
            </div>
            <div class="font-14 font-300 color-blue margin-bottom-20 w-100">Okvirno potrebno radno vreme je cetiri do pet dana (ukljucujuci susenje)</div>
            <div class="font-14 font-600 color-blue margin-bottom-20">Cena paketa:</div>
            <div class="flex flex-column w-100 margin-bottom-20">
                <div class="font-14 font-600 color-blue margin-bottom-7">Mali automobil: 270e + PDV</div>
                <div class="font-14 font-600 color-blue margin-bottom-7">Srednji automobil: 290e + PDV</div>
                <div class="font-14 font-600 color-blue">Veliki automobil: 320e + PDV</div>
            </div>
            <div class="flex w-100">
                <div class="font-14 font-600 color-blue margin-right-7">Napomena:</div>
                <div class="font-14 font-300 color-blue">Za vozila sa 7 sedista doplata je 25e + PDV</div>
            </div>
        </div>
    </div>
   
   <!-- light packet -->
    <div class="flex usluge-box border-blue margin-bottom-40">
        <div class="flex flex-column al-it-center flex-1 margin-left-24 margin-right-24">
            <div class="font-24 font-600 color-blue margin-top-24 margin-bottom-40">LIGHT PAKET</div>
            <div class="font-14 font-600 color-blue margin-bottom-20">Paket obuhvata:</div>
            <div class="flex flex-column w-100 margin-bottom-20">
                <div class="flex margin-bottom-7">
                    <div style="width: 20px;" class="font-14 font-300 color-blue">1.</div>
                    <div class="font-14 font-300 color-blue">Detailing kompletnog enterijera</div>
                </div>
                <div class="flex margin-bottom-7">
                    <div style="width: 20px;" class="font-14 font-300 color-blue">2.</div>
                    <div class="font-14 font-300 color-blue">Jednoslojno poliranje</div>
                </div>
                <div class="flex margin-bottom-7">
                    <div style="width: 20px;" class="font-14 font-300 color-blue">3.</div>
                    <div class="font-14 font-300 color-blue">Detailing uvala vrata</div>
                </div>
                <div class="flex">
                    <div style="width: 20px;" class="font-14 font-300 color-blue">4.</div>
                    <div class="font-14 font-300 color-blue">Voskiranje sa prirodnim voskom (Butter Wet Wax)</div>
                </div>
            </div>
            <div class="font-14 font-300 color-blue margin-bottom-20 w-100">Okvirno potrebno radno vreme je dva dana (ukljucujuci susenje)</div>
            <div class="font-14 font-600 color-blue margin-bottom-20">Cena paketa:</div>
            <div class="flex flex-column w-100 margin-bottom-20">
                <div class="font-14 font-600 color-blue margin-bottom-7">Mali automobil: 140e + PDV</div>
                <div class="font-14 font-600 color-blue margin-bottom-7">Srednji automobil: 160e + PDV</div>
                <div class="font-14 font-600 color-blue">Veliki automobil: 200e + PDV</div>
            </div>
            <div class="flex w-100">
                <div class="font-14 font-600 color-blue margin-right-7">Napomena:</div>
                <div class="font-14 font-300 color-blue">Za vozila sa 7 sedista doplata je 25e + PDV</div>
            </div>
        </div>
        <div class="usluge-box-image"></div>
    </div>

    <!-- jednoslojno poliranje-->
    <div class="flex usluge-box border-blue margin-bottom-40">
        <div class="usluge-box-image"></div>
        <div class="flex flex-column al-it-center flex-1 margin-left-24 margin-right-24">
            <div class="font-24 font-600 color-blue margin-top-24 margin-bottom-40">JEDNOSLOJNO POLIRANJE</div>
            <div class="font-14 font-600 color-blue margin-bottom-20">Paket obuhvata:</div>
            <div class="flex flex-column w-100 margin-bottom-20">
                <div class="flex margin-bottom-7">
                    <div style="width: 20px;" class="font-14 font-300 color-blue">1.</div>
                    <div class="font-14 font-300 color-blue">Osnovno rucno spoljasnje pranje</div>
                </div>
                <div class="flex margin-bottom-7">
                    <div style="width: 20px;" class="font-14 font-300 color-blue">2.</div>
                    <div class="font-14 font-300 color-blue">Dekontaminacija glinenim blokom (Clay bar)</div>
                </div>
                <div class="flex margin-bottom-7">
                    <div style="width: 20px;" class="font-14 font-300 color-blue">3.</div>
                    <div class="font-14 font-300 color-blue">Poliranje sa jesnom pastom</div>
                </div>
                <div class="flex margin-bottom-7">
                    <div style="width: 20px;" class="font-14 font-300 color-blue">4.</div>
                    <div class="font-14 font-300 color-blue">Ispiranje automobila nakon poliranja</div>
                </div>
                <div class="flex margin-bottom-7">
                    <div style="width: 20px;" class="font-14 font-300 color-blue">5.</div>
                    <div class="font-14 font-300 color-blue">Voskiranje sa Butter Wet Wax</div>
                </div>
                <div class="flex">
                    <div style="width: 20px;" class="font-14 font-300 color-blue">6.</div>
                    <div class="font-14 font-300 color-blue">Detaljno ciscenje staklenih povrsina</div>
                </div>
            </div>
            <div class="font-14 font-300 color-blue margin-bottom-20 w-100">Okvirno potrebno radno vreme je jedan dan</div>
            <div class="font-14 font-600 color-blue margin-bottom-20">Cena paketa:</div>
            <div class="flex flex-column w-100">
                <div class="font-14 font-600 color-blue margin-bottom-7">Mali automobil: 70e + PDV</div>
                <div class="font-14 font-600 color-blue margin-bottom-7">Srednji automobil: 90e + PDV</div>
                <div class="font-14 font-600 color-blue">Veliki automobil: 110e + PDV</div>
            </div>
        </div>
    </div>

    <!-- dvoslojno poliranje -->
    <div class="flex usluge-box border-blue margin-bottom-40">
        <div class="flex flex-column al-it-center flex-1 margin-left-24 margin-right-24">
            <div class="font-24 font-600 color-blue margin-top-24 margin-bottom-40">DVOSLOJNO POLIRANJE</div>
            <div class="font-14 font-600 color-blue margin-bottom-20">Paket obuhvata:</div>
            <div class="flex flex-column w-100 margin-bottom-20">
                <div class="flex margin-bottom-7">
                    <div style="width: 20px;" class="font-14 font-300 color-blue">1.</div>
                    <div class="font-14 font-300 color-blue"></div>
                </div>
                <div class="flex margin-bottom-7">
                    <div style="width: 20px;" class="font-14 font-300 color-blue">2.</div>
                    <div class="font-14 font-300 color-blue"></div>
                </div>
                <div class="flex margin-bottom-7">
                    <div style="width: 20px;" class="font-14 font-300 color-blue">3.</div>
                    <div class="font-14 font-300 color-blue"></div>
                </div>
                <div class="flex">
                    <div style="width: 20px;" class="font-14 font-300 color-blue">4.</div>
                    <div class="font-14 font-300 color-blue"></div>
                </div>
            </div>
            <div class="font-14 font-300 color-blue margin-bottom-20 w-100">Okvirno potrebno radno vreme je jedan do dva dana</div>
            <div class="font-14 font-600 color-blue margin-bottom-20">Cena paketa:</div>
            <div class="flex flex-column w-100 margin-bottom-20">
                <div class="font-14 font-600 color-blue margin-bottom-7">Mali automobil: 120e + PDV</div>
                <div class="font-14 font-600 color-blue margin-bottom-7">Srednji automobil: 160e + PDV</div>
                <div class="font-14 font-600 color-blue">Veliki automobil: 180e + PDV</div>
            </div>
        </div>
        <div class="usluge-box-image"></div>
    </div>

    <!-- troslojno poliranje-->
    <div class="flex usluge-box border-blue margin-bottom-40">
        <div class="usluge-box-image"></div>
        <div class="flex flex-column al-it-center flex-1 margin-left-24 margin-right-24">
            <div class="font-24 font-600 color-blue margin-top-24 margin-bottom-40">TROSLOJNO POLIRANJE</div>
            <div class="font-14 font-600 color-blue margin-bottom-20">Paket obuhvata:</div>
            <div class="flex flex-column w-100 margin-bottom-20">
                <div class="flex margin-bottom-7">
                    <div style="width: 20px;" class="font-14 font-300 color-blue">1.</div>
                    <div class="font-14 font-300 color-blue">Osnovno rucno spoljasnje pranje</div>
                </div>
                <div class="flex margin-bottom-7">
                    <div style="width: 20px;" class="font-14 font-300 color-blue">2.</div>
                    <div class="font-14 font-300 color-blue">Dekontaminacija glinenim blokom (Clay bar)</div>
                </div>
                <div class="flex margin-bottom-7">
                    <div style="width: 20px;" class="font-14 font-300 color-blue">3.</div>
                    <div class="font-14 font-300 color-blue">Poliranje kompletnog automobila sa tri paste</div>
                </div>
                <div class="flex margin-bottom-7">
                    <div style="width: 20px;" class="font-14 font-300 color-blue">4.</div>
                    <div class="font-14 font-300 color-blue">Poliranje pragova vrata</div>
                </div>
                <div class="flex margin-bottom-7">
                    <div style="width: 20px;" class="font-14 font-300 color-blue">5.</div>
                    <div class="font-14 font-300 color-blue">Ispiranje automobila nakon poliranja</div>
                </div>
                <div class="flex margin-bottom-7">
                    <div style="width: 20px;" class="font-14 font-300 color-blue">6.</div>
                    <div class="font-14 font-300 color-blue">Voskiranje PREMIUM tvrdi vosak</div>
                </div>
                <div class="flex">
                    <div style="width: 20px;" class="font-14 font-300 color-blue">7.</div>
                    <div class="font-14 font-300 color-blue">Detaljno ciscenje staklenih povrsina</div>
                </div>
            </div>
            <div class="font-14 font-300 color-blue margin-bottom-20 w-100">Okvirno potrebno radno vreme je dva dana</div>
            <div class="font-14 font-600 color-blue margin-bottom-20">Cena paketa:</div>
            <div class="flex flex-column w-100">
                <div class="font-14 font-600 color-blue margin-bottom-7">Mali automobil: 170e + PDV</div>
                <div class="font-14 font-600 color-blue margin-bottom-7">Srednji automobil: 190e + PDV</div>
                <div class="font-14 font-600 color-blue">Veliki automobil: 210e + PDV</div>
            </div>
        </div>
    </div>

    <!-- detailing enterijera -->
    <div class="flex usluge-box border-blue margin-bottom-40">
        <div class="flex flex-column al-it-center flex-1 margin-left-24 margin-right-24">
            <div class="font-24 font-600 color-blue margin-top-24 margin-bottom-40">DETAILING ENTERIJERA</div>
            <div class="font-14 font-600 color-blue margin-bottom-20">Paket obuhvata:</div>
            <div class="flex flex-column w-100 margin-bottom-20">
                <div class="flex margin-bottom-7">
                    <div style="width: 20px;" class="font-14 font-300 color-blue">1.</div>
                    <div class="font-14 font-300 color-blue">Osnovno rucno spoljasnje pranje</div>
                </div>
                <div class="flex margin-bottom-7">
                    <div style="width: 20px;" class="font-14 font-300 color-blue">2.</div>
                    <div class="font-14 font-300 color-blue">Usisavanje kompletnog enterijera automobila</div>
                </div>
                <div class="flex margin-bottom-7">
                    <div style="width: 20px;" class="font-14 font-300 color-blue">3.</div>
                    <div class="font-14 font-300 color-blue">Detaljno ciscenje patosnica</div>
                </div>
                <div class="flex margin-bottom-7">
                    <div style="width: 20px;" class="font-14 font-300 color-blue">4.</div>
                    <div class="font-14 font-300 color-blue">Rucno ciscenje neba</div>
                </div>
                <div class="flex margin-bottom-7">
                    <div style="width: 20px;" class="font-14 font-300 color-blue">5.</div>
                    <div class="font-14 font-300 color-blue">Detaljno ciscenje table, volana, vrata, ventilacija i slicno</div>
                </div>
                <div class="flex margin-bottom-7">
                    <div style="width: 20px;" class="font-14 font-300 color-blue">6.</div>
                    <div class="font-14 font-300 color-blue">Hemijsko ciscenje sedista, podova i tapacirunga</div>
                </div>
                <div class="flex margin-bottom-7">
                    <div style="width: 20px;" class="font-14 font-300 color-blue">7.</div>
                    <div class="font-14 font-300 color-blue">Detaljno ciscenje sina, bokova sedista i slicno</div>
                </div>
                <div class="flex margin-bottom-7">
                    <div style="width: 20px;" class="font-14 font-300 color-blue">8.</div>
                    <div class="font-14 font-300 color-blue">Detaljno ciscenje prostora gepeka</div>
                </div>
                <div class="flex">
                    <div style="width: 20px;" class="font-14 font-300 color-blue">9.</div>
                    <div class="font-14 font-300 color-blue">Detaljno ciscenje staklenih povrsina</div>
                </div>
            </div>
            <div class="font-14 font-300 color-blue margin-bottom-20 w-100">Okvirno potrebno radno vreme je jedan dan (ukljucujuci susenje)</div>
            <div class="font-14 font-600 color-blue margin-bottom-20">Cena paketa:</div>
            <div class="flex flex-column w-100 margin-bottom-20">
                <div class="font-14 font-600 color-blue margin-bottom-7">Mali automobil: 70e + PDV</div>
                <div class="font-14 font-600 color-blue margin-bottom-7">Srednji automobil: 80e + PDV</div>
                <div class="font-14 font-600 color-blue">Veliki automobil: 100e + PDV</div>
            </div>
            <div class="flex w-100">
                <div class="font-14 font-600 color-blue margin-right-7">Napomena:</div>
                <div class="font-14 font-300 color-blue">Za vozila sa 7 sedista doplata je 25e + PDV</div>
            </div>
        </div>
        <div class="usluge-box-image"></div>
    </div>

</div>

{% endblock %}